#CiteModal textarea{
	width: 100%;
	min-height: 200px;
}


@media (min-width: 768px){
	.modal-dialog{max-width: 700px!important;}
}

@media (min-width: 992px){
	.modal-dialog{max-width: 900px!important;}
}

@media (min-width: 1200px){
	.modal-dialog{max-width: 1000px!important;}	
	#CiteModal textarea{min-height: 400px;}
}



